<html>
  <head>

   <%= stylesheet_link_tag "home"%>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>


<style type="text/css">
#site_upgrade{
  background-color: rgba(255,102, 0, .5);
  border:  5px black dashed;
  outline: 5px red ridge;
  padding: 0px 10px 10px 10px;
}

  #site_upgrade a:link,
  #site_upgrade a:visited,
  #site_upgrade a:hover,
  #site_upgrade a:active  {
                            text-decoration: none;
                            color:blue;
                            font-weight: bold;
                            font-size: 18px;
                          }

</style>

  <meta charset="utf-8" />
  <title>Joe Noonan 101</title>

  </head>
  <body>
    <div class="container">
      <div id="site_upgrade">
        <h3 style="font-weight: bold; "> - Progress of upgraded web site - </h1>

        <div class="percentage_complete" style="font-weight: bold;"></div>
        <div id="progressbar"></div>
        <br>

        <%= link_to "visit site anyway", "http://joe-noonan-102.herokuapp.com", style: "display: inline; padding-right: 15px;" %>

        <%= link_to "view code", "http://www.github.com/Joe11000/Personal_Site_2.0" %>

      </div>




      <h1>Joseph Noonan</h1>
      <h3> - Web Developer - </h3>

      <%= image_tag "http://i884.photobucket.com/albums/ac41/jgnoonan27/1_zpse7b88fbb.jpg" , id: "my_pic", size: "250x250"%>
      <br>
      <br>

      <div id="main_content">
        <div>
          <ul class="tabs">
            <li class="active"><a href="#tab1">About Me</a></li>
            <li><a href="#tab2">Projects</a></li>
            <li><a href="#tab3">Resume</a></li>
          </ul>
        </div>
        <hr>

        <div class="tab" id="tab1">
          <h2>About Me</h2>
          <p>
           I am an independent, hard working, and a self motivated recent graduate of Eastern Illinois University with a Bachelors degree in Math / Computer Science.
          </p>
          <p>
            My most recent education was an intensive Ruby on Rails camp for full stack, agile web development called Dev Bootcamp.
          </p>
          <p>
            I am always interested in attending any programming meetups in Chicago involving any language or platform.
          </p>
          <p>
            I am keeping my ears open for employment opportunities while simultaneously continuing to expand my programming knowledge base independently online.
          </p>
        </div>

        <div class="tab" id="tab2">
            <h2>Sample Projects</h2>

            <h3>Rails</h3>

            <p>
              <a href="http://www.parkbenchprojects.com">Park Bench Projects</a>
              <a href="https://github.com/Joe11000/pbp">
               <%= image_tag("github.png", size: "30x30") %>
              </a>
            </p>


            <h3>Javascript</h3>
            <p>
              <a href="http://www.joe-tic-tac-toe.s3-website-us-east-1.amazonaws.com">Unbeatable Tic Tac Toe</a>
              <a href="https://github.com/Joe11000/Tic_Tac_Toe_Unbeatable">
                <%= image_tag("github.png", size: "30x30") %>
              </a>
            </p>
            <p>
              Video.nhl.com spoiler prevention
              <a href="https://github.com/Joe11000/No_Spoilers">
                <%= image_tag("github.png", size: "30x30") %>
              </a>
            </p>

            <h4>Ruby</h4>
            <p>
              Boggle
              <a href="https://github.com/Joe11000/Boggle/tree/master">
                <%= image_tag("github.png", size: "30x30") %>
              </a>
            </p>
            <!-- <p><%# link_to "Boggle", "https://github.com/Joe11000/Boggle/tree/master" %><p> -->

          </div>

        <div class="tab" id="tab3">
            <h2>Resume</h2>

           <p><%= link_to "Download Resume", "/download_resume" %></p>
        </div>
      </div>

      <h2>Follow Me</h2>
      <div id="social_media_div">
          <ul id="">
            <li><a href="http://www.linkedin.com/in/joenoonan27"><%= image_tag("linkedin1.png", size: "30x30") %> </a></li>

            <li ><a href="http://www.github.com/joe11000"> <%= image_tag("github.png", size: "30x30") %> </a></li>

            <li ><a href="http://www.twitter.com/LiveItUp227"> <%= image_tag("twitter1.png", size: "30x30") %></a></li>
          </ul>
      </div>
    </div>

    <%= javascript_include_tag "home" %>
  </body>
</html>
