<html>
  <head>

  <%= stylesheet_link_tag "home"%>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


  <meta charset="utf-8" />
  <title>Joe Noonan 101</title>

  </head>
  <body>
    <div class="container">
      <h1>Joseph Noonan</h1>
      <h3> - Web Developer - </h3>

      <%= image_tag @url , id: "my_pic", size: "250x250"%>
      <br>
      <br>

      <div id="main_content">
        <div>
          <ul class="tabs">
            <li class="active"><a href="#tab1">About Me</a></li>
            <li><a href="#tab2">Projects</a></li>
            <li><a href="#tab3">Resume</a></li>
          </ul>
        </div>
        <hr>

        <div class="tab" id="tab1">
          <h2>About Me</h2>
          <p>
           I am an independent, hard working, and a self motivated recent graduate of Eastern Illinois University with a Bachelors degree in Math / Computer Science.
          </p>
          <p>
            My most recent education was an intensive Ruby on Rails camp for full stack, agile web development called Dev Bootcamp.
          </p>
          <p>
            I am always interested in attending any programming meetups in Chicago involving any language or platform.
          </p>
          <p>
            I am keeping my ears open for employment opportunities while simultaneously continuing to expand my programming knowledge base independently online.
          </p>
        </div>

        <div class="tab" id="tab2">
            <h2>Recent Projects</h2>
            <p><%= link_to "Park Bench Projects", "http://www.parkbenchprojects.com"%></p>

            <p><%= link_to "Unbeatable Tic Tac Toe", "www.joe-tic-tac-toe.s3-website-us-east-1.amazonaws.com"%></p>

            <p>Work In Progress -> 'NoSpoilers' for video.nhl.com</p>
          </div>

        <div class="tab" id="tab3">
            <h2>Resume</h2>

           <p><%= link_to "Download Resume", "/download_resume" %></p>
        </div>
      </div>

      <h2>Follow Me</h2>
      <div id="social_media_div">
          <ul id="">
            <li><a href="http://www.linkedin.com/pub/joe-noonan/57/a93/a98/"><%= image_tag("linkedin1.png", size: "30x30") %> </a></li>

            <li ><a href="http://www.github.com/joe11000"> <%= image_tag("github.png", size: "30x30") %> </a></li>

            <li ><a href="http://www.twitter.com/LiveItUp227"> <%= image_tag("twitter1.png", size: "30x30") %></a></li>
          </ul>
      </div>
    </div>

    <%= javascript_include_tag "home" %>
  </body>
</html>
